* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body {
    background-color: #546677;

    /*imagem mapa*/
    background-image: 
     linear-gradient(rgba(84, 102, 119, 0.5), rgba(84, 102, 119, 0.5)),
     url(MAPA_MUNDI_AZUL.png);
    
}


/*rodape*/
.rodape-branco {
    background-color: #ffffff;
    color: #333333;
    text-align: center;
    padding: 20px 0;
    width: 100%;
    border-radius: 5px;
}


/*barra fixa*/
.barra-topo {
    background-color: #6a89a7;
    position: fixed;
    top: 0;
    z-index: 10;
}


/* barra*/
.barra-topo {
    background-color: #6a89a7;
     padding: 20px 5%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nome-site {
font-family:  Arial, Helvetica, sans-serif;
color: #cfcdc7;
font-size: 1.7rem;
 font-weight: 3px;
 letter-spacing: 2px;
}
.barra-topo {
    border-bottom: 2px solid #cfcdc7;
}

.menu-nav {
    display: flex;
    gap: 30px;
}

.menu-nav a {
    color: #cfcdc7;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 1px;
    transition: color 0.3s;
}
.menu-nav :hover {
    color: #969592;
}


/*inicio*/
.home{
height: 1000px;
}

#inicio {
    align-items: center;
     width: 90%;
    margin: 0 auto;
    margin-top: 100px;
    background-color: #6a89a7;
    padding: 40px;
    border-radius: 0px;
    border: 2px solid #5f7994;
}
.sub-titulo {
    text-align: center;
    text-decoration: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    letter-spacing: 3px;
    color: #cfcdc7;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.caixa-inicio {
    margin-right: auto;
    margin-left: auto;
    border-radius: 0px;
    padding: 20px;
    background-color: #5f7994;
    margin-bottom: 40px;
    width: 800px;
}
.paragrafo{
    color: #cfcdc7;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
}

.caixa-inicio-dois{
     margin-right: auto;
    margin-left: auto;
    border-radius: 0px;
    padding: 20px;
    background-color: #5f7994;
    margin-bottom: 40px;
    width: 800px;
}

.sub-titulo-dois{
    text-align: center;
    text-decoration: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    letter-spacing: 3px;
    color: #cfcdc7;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.paragrafo-dois{
    color: #cfcdc7;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
}
a {
 color: #c0bfbc;
}
#nome-site {
    cursor: pointer;
}