* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
      scroll-behavior: smooth;
    scroll-padding-top: 90px;
}
body {
    background-color: #546677;

    /*imagem mapa*/
    background-image: 
     linear-gradient(rgba(84, 102, 119, 0.5), rgba(84, 102, 119, 0.5)),
     url(MAPA_MUNDI_AZUL.png);
    
}
.jacques-francois-regular{
    font-family: "Jacques Francois", serif;
    color: #cfcdc7;
    text-align: center;
    font-size: 30px;
}




/*rodape*/
.rodape-branco {
    background-color: #ffffff;
    color: #333333;
    text-align: center;
    padding: 20px 0;
    width: 100%;
    border-radius: 5px;
}


/*barra fixa*/
.barra-topo {
    background-color: #6a89a7;
    position: fixed;
    top: 0;
    z-index: 10;
}


/* barra*/
.barra-topo {
    background-color: #6a89a7;
     padding: 20px 5%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nome-site {
font-family:  Arial, Helvetica, sans-serif;
color: #cfcdc7;
font-size: 1.7rem;
 font-weight: 3px;
 letter-spacing: 2px;
}
.barra-topo {
    border-bottom: 2px solid #cfcdc7;
}

.menu-nav {
    display: flex;
    gap: 30px;
}

.menu-nav a {
    color: #cfcdc7;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 1px;
    transition: color 0.3s;
}
.menu-nav :hover {
    color: #969592;
}






/*inicio*/
.home{
min-height: 1000px;
}

#inicio {
    align-items: center;
     width: 90%;
    margin: 0 auto;
    margin-top: 100px;
    padding: 40px;
    border-radius: 0px;
}
.caixa-inicio {
    margin-right: auto;
    margin-left: auto;
    border-radius: 0px;
    padding: 20px;
    background-color: #5f7994;
    margin-bottom: 40px;
    width: 800px;
}
.paragrafo{
    color: #cfcdc7;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
}
.descolaru{
    padding: 40px;
    margin-bottom: -4px;
     background-color: #6a89a7cd;
       border: 2px solid #415366;
}



.caixa-inicio-dois{
     margin-right: auto;
    margin-left: auto;
    border-radius: 0px;
    padding: 20px;
    background-color: #5f7994;
    margin-bottom: 40px;
    width: 800px;
}

.paragrafo-dois{
    color: #cfcdc7;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
}
a {
 color: #c0bfbc;
}
.descolard{
    padding: 40px;
    background-color: #6a89a7cd;
      border: 2px solid #415366;
}
 

#nome-site {
    cursor: pointer;
}





/*acontecimentos*/
#acontecimentos{
    color: #cfcdc7;
    margin-top: 61px;
}
.linha-tempo{
    align-items: center;
    text-align: center;
    margin-left: 280px;
    margin-right: 280px;
    text-decoration: bold;
    font-size: 1.2rem;

}
.evento{
    background-color: #6a89a7cd;
     border: 2px solid #415366;
     border-radius: 50px;
     padding: 5px;
}
.evento-texto{
    letter-spacing: 2px;
}




/*curiosidades*/
#curiosidades{
    color: #cfcdc7;
    margin-top: 100px;
    align-items: center;
}
.dia-e-simbolo{
    display: flex;
     margin-top: 39px;
}
.dudh-e-nobel{
    display: flex;
     margin-bottom: 120px;
     margin-top: 10px;
}
.caixa-curiosidades{
margin-right: auto;
    margin-left: auto;
    border-radius: 0px;
    padding: 20px;
    background-color: #5f7994;
     margin-left: 280px;
    margin-right: 280px;
    text-align: center;
    letter-spacing: 2px;
}

.dia{
    background-color: #6a89a7cd;
     border-top: 7px solid #415366;
    padding: 16px;
    margin-left: 50px;
    margin-right: 10px;
}
.simbolo{
    margin-left: 20px;
    background-color: #6a89a7cd;
     border-top: 7px solid #415366;
      padding: 16px;
      margin-left: 50px;
    margin-right: 10px;
}
.dudh{
    background-color: #6a89a7cd;
     border-top: 7px solid #415366;
      padding: 16px;
      margin-left: 50px;
    margin-right: 10px;
}
.nobel{
    background-color: #6a89a7cd;
     border-top: 7px solid #415366;
      padding: 16px;
      margin-left: 50px;
    margin-right: 10px;
}
.azul{
font-family: 'Times New Roman', Times, serif;
font-size: 16px;
}
.azull{
    color: #88bdf2;
    font-size: 2.5rem;
}
.azulll{
font-size: 20px;
letter-spacing: 2px;
}


/*sobre*/
#sobre{
   margin-bottom: 30px; 
}
.caixa-sobre{
    margin-right: auto;
    margin-left: auto;
    border-radius: 0px;
    padding: 20px;
    background-color: #5f7994;
     margin-left: 320px;
    margin-right: 320px;
    text-align: center;
    letter-spacing: 2px;
    margin-bottom: 50px;
}
.sobree{
 background-color: #6a89a7cd;
border: 2px solid #415366; 
padding: 16px;
text-align: center;
margin-left: 50px;
margin-right: 50px;
}
.h-sobre{
    color: #88bdf2;
    font-size: 22px;
    font-weight: 1;
    font-family: 'Times New Roman', Times, serif
}
.caractere{
color: #88bdf2;
font-size: 20px;
}
.paragrafo-sobre{
    color: #cfcdc7;
    font-size: 20px;
    letter-spacing: 2px;
}

